@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}
/*-----------------------------------------------*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  border-radius: 12px;
  height: 25%;
  background-color: #FC6D6D;
}
/*-----------------------------------------------*/
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}
/*-----------------------------------------------*/
 .container .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}
 .container .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
 .container .title::after{
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}
/*-----------------------------------------------------------------*/

/* @media (max-width:700px) {
  .main{
    font-size: 30px;
  }
} */
.both 
{
  padding-top: 40vh;
  min-height: 100vh;
  background-image: url("../images/banner1.jpg");
  background-repeat: no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .myname{
 color: rgb(236, 235, 235);
 font-family: 'Raleway', sans-serif;
 font-size: 50px;
}
/* 
@media (max-width:700px) {
  .main .myname{
    font-size: 40px;
  }
  .wrapper .dynamic-txts{
    font-size: 30px;
  }
  .dynamic-txts li{
    font-size: 30px;
  }
} */

.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: rgb(225, 225, 225, 255);
  font-size: 60px;
  font-weight: 300;
  margin-top: 5px;
}
.wrapper .dynamic-txts{
  margin-left: 5px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 400;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
/*-----------------------------------------------*/  
.arrow,
.arrow:before{
  position: absolute;
  left: 50%;
}
.arrow{
  width: 40px;
  height: 40px;
  top: 80%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;

}  
.arrow:before{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow{
  0%{
    opacity: 1;

  }
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);

  }
}
  
/*-----------NAVBAR------------*/

.button{
  top: 55px;
  z-index: 2;
  display: flex;
  width: 20px;
  height: 20px;
  right: 0;
  margin-right: 35px;
  box-shadow: none;
  outline: none;
  position: fixed;
  font-weight: bold;
}

.button span{
  width: 20px;
  height: 2px;
  background: #FC6D6D;
  display: flex;
  position: absolute;
  transition: .3s;
}

.button span:nth-child(1){
  top: 20%;
}

.button span:nth-child(2){
  top: 80%;
}

.button.is-active span{
  background: #fff;
}

.button.is-active span:nth-child(1){
  top: 50%;
  transform: rotate(-45deg);
}

.button.is-active span:nth-child(2){
  top: 50%;
  transform: rotate(45deg);
}

.menu{
  background: #171717;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
  z-index: 1;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}

.menu.is-active{
  opacity: 1;
  visibility: visible;
  align-items: center;
  justify-content: center;
}

.menu__list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menu__item:not(:last-child){
  margin-bottom: 30px;
}

.menu__link{
  position: relative;
  display: inline-flex;
  font-weight: 400;
  font-size: 48px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link:after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 5px;
  display: inline-flex;
  background: #FC6D6D;
  transition: .3s;
}

.menu__link:hover:after{
  width: 100%;
}


/*------------ABOUT--------------*/
.about .row .title::after{
  content: "who i am";
}
.about{
  text-align: center;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width:1100px) {
  .about .row{
    display: block;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
.about .row{
  width: 100%;
  margin: 0 auto;
}
.about h1 span{
  color: red;
}

.about h5{
  text-transform: capitalize;
}

.about p{
  line-height: 40px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.about img{
  box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

/*------------PROJECTS--------------*/
.container .row .title::after{
  content: "projects";
}
 .gallery{
  width: 80%;
  margin-left:auto;
  margin-right: auto;
 }
.content_img{
  position: relative;
  width: 300px;
  height: 300px;
  padding-bottom: 20px;
  margin-left: 30px;
  display: inline-block;

 }
 
 .content_img div{
  text-transform:capitalize;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  color: #000;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 .content_img:hover{
  cursor: pointer;
 }
 
 .content_img:hover div{
  width: 300px;
  height: 300px;
  visibility: visible;
  opacity: 0.7; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
 }

 /*----------experiences in ------------*/
 .container .row .title::after{
  content: "what i know";
}
.skills-bar{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: 100%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.2);
  }
  
  .skills-bar .bar{
    margin: 20px 0;
  }
  
  .skills-bar .bar:first-child{
    margin-top: 0px;
  }
  
  .skills-bar .bar .info{
    margin-bottom: 5px;
  }
  
  .skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  
  @keyframes showText2{
    100%{
      opacity: 1;
    }
  }
  
  .skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05), 0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  
  .bar .progress-line span{
     height: 100%;
     width: 80%;
     background: #FC6D6D;
     position: absolute;
     border-radius: 10px;
     transform: scaleX(0);
     transform-origin: left;
     animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .progress-line.html span{
    width: 90%;
  }
  
  .progress-line.css span{
    width: 50%;
  }
  
  .progress-line.javascript span{
    width: 30%;
  }
  
  .progress-line.php span{ 
    width: 80%;
  }
  
  .progress-line.mysql span{
    width: 90%;
  }
  
  .progress-line.linux span{
    width: 40%;
  }
  
  .progress-line.python span{
    width: 45%;
  }
  
  .progress-line.c span{
    width: 55%;
  }
  
  .bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  
  .bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  
  @keyframes showText2{
    100%{
      opacity: 1;
    }
  }
  
  .progress-line.html span::after{
    content: "90%";
  }
  
  .progress-line.css span::after{
    content: "50%";
  }
  
  .progress-line.javascript span::after{
    content: "30%";
  }
  
  .progress-line.php span::after{ 
    content: "80%";
  }
  
  .progress-line.mysql span::after{
    content: "90%";
  }
  .progress-line.linux span::after{
    content: "40%";
  }
  .progress-line.python span::after{
    content: "45%";
  }
  
  .progress-line.c span::after{
    content: "55%";
  }

  /*---------------------hire me ------------------------*/

  .hireme{
    width: 80%;
    height: auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.2);
    border-radius: 10px;
    padding: 50px 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
  }

  .hireme h2{
    padding-bottom: 20px;
    font-family: 'raleway', sans-serif;
    font-size: 34px;
  }

  .hireme p{
    padding: 0 30px;
    line-height: 35px;
    font-family: 'raleway', sans-serif;
    font-size: 18px;
  }

  .hireme span{
    color: red;
    font-family: 'raleway', sans-serif;
  }
  

/*-----------------contact------------------------*/
.container .row .title::after{
  content: "get in touch";
}
.get_in_touch{
    max-width: 80%;
    margin: 0px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 0 25px;
}

.get_in_touch .title{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    background: linear-gradient(to right, #000 0%, #303030 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 30px;
}

.contact-form .form-field{
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    border-width:0 0 2px 0;
    border-color: rgb(185, 185, 185);
    font: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus + .label, .contact-form
.input-text.not-empty +.label{
    transform: translateY(-24px);
}
.contact-form .input-text:focus{
    outline: none;
}

.contact-form .label{
    position: absolute;
    left: 20px;
    bottom: 25px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #000;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}

.contact-form .submit-btn{
    display: inline-block;
    background-image: linear-gradient(125deg, #FC6D6D, #fd7c7c);
    color: #fff;
    text-transform:uppercase;
    letter-spacing: 2px;
    font: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}
/*-----------------------------------------------*/

footer ul {
  background-color: #3d3d3d;
  height: 200px;
  margin-top: 50px; 
  text-align: center;
  padding-top: 100px;
  margin-bottom: 0;
  
}

footer ul li{
  list-style-type: none;
  display: inline-block;
}

footer ul li a{
  text-decoration: none;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 24px;
}

footer ul li a:hover{
  color: #fff;
  text-decoration: underline;
}

footer .copyright{
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  height: 50px;
}

footer .copyright:hover{
  color: #fff;
}